<h1><%= title %></h1>

<div class="form-container">
    <form action="/login" method="post">
        <div class="login">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
        </div>
        <div class="login">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
        </div>
        <div class="login">
            <button type="submit">LOGIN</button>
        </div>
        <div class="login">
            <p>No account? <a href="">Sign-up</a></p>
        </div>
    </form>
</div>