/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#wrapper {
  background-color: white;
  max-width: 960px;
  margin: auto;
}

header {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 20px;
}

header #ceiling{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName a {
  font-size: 40px;
}

#tools a {
  display: flex;
  justify-content: end;
  text-transform: uppercase;
}

.siteName a, #tools a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

#tools a, nav ul, .description p, .upgrades {
  padding: 0;
}

#tools a, nav {
  margin-right: 10px;
}

nav {
  background-color: #ff0000;
}

nav ul {
  display: block;
}

nav ul li {
  list-style-type: none;
  padding: 0.25rem 0.7rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul, .description button, footer .copyright {
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, p, .description p, .comments, .upgrades, .login {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 22px;
}

.banner {
  padding-bottom: 20px;
}

/* .notice li {
  color: red;
  font-style: italic;
  font-weight: bold;
} */

.description {
  position: absolute;
  left: 15px;
  top: 325px;
  height: 205px;
  padding: 10px;
  background-color: rgba(248, 239, 239, .5);
}

.description {
  color: #ff3300;
}

.description button {
  border: none;
  padding: 10px 20px;
  background-color: #ff3300;
  color: black;
  font-size: 15px;
}

.delorean img {
  display: block;
  margin: 0 auto;
  left: 200px;
  width: 350px;
  height: 175px;
}

h2 {
  font-size: 20px;
}

.comments {
  font-size: 15px;
}

.comments li {
  padding: 10px;
}

.upgrades {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: white;
  text-align: center;
}

.upgradeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF8C00;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
}

.upgradeImg img {
  width: 50px;
  height: 50px;
}

#inv-display {
  padding-right: 40px;
  padding-bottom: 15px;
}

#inv-display ul {
  display: block;
  margin: 0;
  padding: 0;
}

#inv-display li {
  background-color: #FF8C00;
  list-style-type: none;
  border-color: #ff3300;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

#inv-display img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#inv-display a {
  text-decoration: none;
  color: black;
}

.namePrice {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

hr {
  height: 2px;
  background-color: black;
  border: none;
}

.vehicle-image img {
  max-width: 100%;
}

.form-container {
  margin: 0;
  text-align: left;
}

.form-container button {
  margin-top: 10px;
}

form {
  background-color: #FF8C00;
  max-width: 80%;
  margin: 20px;
  border-color: #ff3300;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 20px;
}

.login {
  display: block; 
}

.login label, .login input, .login p, .login a {
  font-size: 20px;
}

.login label {
  font-weight: bold;
}

.login input {
  margin-bottom: 20px;
  border-color: #ff3300;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

input:valid {
  background-color: green;
}

input:invalid:focus {
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.login p {
  text-align: center;
}

.login a {
  color: black;
}

.management {
  margin-left: 75px;
}

@media only screen and (min-width: 475px) {

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    list-style-type: none;
    padding: 1rem 0.7rem;
  }

  .description {
    position: absolute;
    left: 15px;
    top: 195px;
  }

  form {
    max-width: 70%;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 960px) {

  body {
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    border-color: #ff6600;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
  }

  #tools a {
    margin: 0;
  }

  nav {
    margin-left: 20px;
    margin-right: 20px;
  }

  nav ul li {
    margin-left: auto;
    margin-right: auto;
  }

  body, .grid-container, header, footer {
    background-color: white;
  }

  header, .grid-container, footer {
    padding: 10px;
  }

  .grid-container {
    display: grid;
    gap: 30px;
  }

  .banner {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .newFeatures {
    grid-column: 1;
    grid-row: 2;
  }
  
  .reviews {
    grid-column: 2;
    grid-row: 2;
  }

  .newFeatures, .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .newFeatures, .reviews, h1 {
    margin-left: 50px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  .description {
    left: 275px;
    top: 260px;
    bottom: 100px;
    height: 275px;
    padding: 0px 10px 10px 10px;
  }

  .description p {
    font-size: 20px;
  }

  .description button {
    padding: 20px 40px;
    font-size: 18px;
  }

  .delorean img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 200px;
    width: 700px;
    height: 250px;
  }

  #inv-display {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-bottom: 15px;
    padding-right: 20px;
  }

  #inv-display ul {
    display: flex; 
    align-items: center; 
  }

  .vehicle-content {
    display: flex; 
    align-items: center; 
  }

  .vehicle-image {
    flex: 0 0 auto; 
    margin-right: 20px; 
  }

  .vehicle-image img {
    min-width: 100%;
  }

  form {
    max-width: 40%;
    margin: 0 auto;
  }

}